$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  text-align: center;
  background: linear-gradient(
    0deg,
    rgb(97, 98, 99) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  h1{
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration:solid;
      
  }
  canvas{
    border:1px solid red;
    box-shadow: black 20px 10px 50px;

  }
}